/* ===========ESTILOS GENERALES=========== */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    color: #f4f4f4;
    background-color: #002850;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2 {
    color: #2c3e50;
    text-align: center;
    margin-top: 3rem;
}


/* ==========INICIO============ */
nav {
    background-color: #153352;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-evenly;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
.dumbbell{
    text-align: center;
    margin-top: 3rem;
}
footer {
    background-color: #153352;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* ============TABLA RUTINAS========= */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #3498db;
    color: white;
}


/* =========FORMULARIOS=========*/
form {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input,textarea,select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
select{
    width: 97%;
}


/*==========BOTONES=========*/
button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #2980b9;
}
a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.eliminar{
    color: #db3434;
}
.modificar{
    color: #8a34db;
}
.volver{
    font-size: 1.3rem;
    text-align: center;
}
.agregar{
    font-size: 1.3rem;
    text-align: center;
}


/* ===========DETALLES RUTINA========= */
.rutina{
    margin: 3rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rutina .imagen{
    display: flex;
    align-items: center;
}
.imagen img{
    margin-left: 2rem;
}
.rutina a{
    margin-right: 1.5rem;
}
.rutina p{
    margin-bottom: 2rem;
}
.h2entrenadores{
    margin-top: 6rem;
}
.entrenadores{
    display: flex;
    justify-content: space-evenly;
}
.entrenadores div{
    text-align: center;
}

